/* 공통 스타일 */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
}

/* 첫 번째 화면과 두 번째 화면 */
.screen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.screen.hidden {
    opacity: 0; /* 숨겨진 화면 */
    pointer-events: none;
}

/* 슬라이드 이미지 컨테이너 */
.image3-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(4px);
}

.image3 {
    position: relative;
    width: auto;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease;
}

/* 텍스트 컨테이너 */
.text-container {
    position: absolute;
    top: 1100px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    z-index: 1;
    overflow-y: scroll;
    overflow: hidden; /* 빼면안됨 하얀줄생김 - - */
    border: none;
    /* box-sizing: border-box; /* padding과 border를 요소 크기에 포함 */ */
    background-color: transparent; /* 배경색이 없으면 투명 */

    padding: 20px;
}

/* 텍스트 스타일 */
.text {
    padding: 20px;
    font-size: 1.2rem;
    color: #212121;
    line-height: 0.5;
    padding-top: 80px; /* 텍스트 위쪽 여백 */
    text-align: center;
    filter: blur(1.5px); /* 텍스트 블러 효과 */
    letter-spacing: 2px; /* 글자 사이를 2px만큼 벌림 */
}

/* 리셋 버튼 */
#resetButton {
    position: absolute;
    top: 5%;
    right: 10%;
    width: 6.5vw;
    height: auto;
    cursor: pointer;
    z-index: 10;
    animation: rotateButton 3s linear infinite; /* 회전 애니메이션 추가 */
    position: fixed;
}
@keyframes rotateButton {
    0% {
        transform: translateX(90px) rotate(0deg);
    }
    100% {
        transform: translateX(90px) rotate(360deg);
    }
}
